<div class="container-md">
    <h2>Create transaction</h2>
    @if(errorMessage$ | async){
        <error-message [message]="errorMessage$ | async"></error-message>
    }
    <form [formGroup]="createTransactionForm" novalidate (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="name" class="form-label">Recipient name</label>
            <select class="form-select" formControlName="name" id="name">
                @if(users$ | async){
                    @for(user of (users$ | async); track user){
                        <option value="{{user.name}}">{{user.name}}</option> 
                    }
                }
            </select>
            <div class="alert alert-danger"
                *ngIf="createTransactionForm.controls['name'].invalid && createTransactionForm.controls['name'].touched">
                Recipient name not specified
            </div>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" formControlName="amount" name="amount" id="amount"/>
            <div class="alert alert-danger"
                *ngIf="createTransactionForm.controls['amount'].invalid && createTransactionForm.controls['amount'].touched">
                Incorrect amount
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" [disabled]="createTransactionForm.invalid">
                Submit
            </button>
        </div>
    </form>
</div>
