<div class="container-md">
    <h2>Sign up</h2>
    <form [formGroup]="signUpForm" novalidate (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" name="name" formControlName="name" id="name"/>
            <div class="alert alert-danger"
                *ngIf="signUpForm.controls['name'].invalid && signUpForm.controls['name'].touched">
                Name not specified
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" name="email" formControlName="email" id="email"/>  
            <div class="alert alert-danger"
                *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">
                Incorrect email
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" name="password" formControlName="password" id="password"/>   
            <div class="alert alert-danger"
                *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
                Password not specified
            </div>
        </div>
        <div class="mb-3">
            <label for="passwordConfirmation" class="form-label">Password confirmation</label>
            <input class="form-control" name="passwordConfirmation" formControlName="passwordConfirmation" id="passwordConfirmation"/> 
            <div class="alert alert-danger"
                *ngIf="signUpForm.controls['passwordConfirmation'].invalid && signUpForm.controls['passwordConfirmation'].touched">
                Password confirmation not specified or does not match with password
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" [disabled]="signUpForm.invalid || (isSubmitting$ | async)">
                Submit
            </button>
        </div>
    </form>
</div>