<div>{{userInfo.name}}</div>
<div>PW balance: {{userInfo.balance | number:'1.2-2'}}</div>
<button type="button" class="btn btn-primary m-1" (click)="createTransaction()">Create transaction</button>
<table class="table">
    <thead>
        <th scope="col">
            <a href="#" class="link-primary" (click)="sort('date')">Date</a>
        </th>
        <th scope="col">
            <a href="#" class="link-primary" (click)="sort('username')">Correspondent name</a>
        </th>
        <th scope="col">
            <a href="#" class="link-primary" (click)="sort('amount')">Amount</a>
        </th>
        <th scope="col">Balance</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{transaction.date}}</td>
            <td>{{transaction.username}}</td>
            <td>{{transaction.amount | number:'1.2-2'}}</td>
            <td>{{transaction.balance | number:'1.2-2'}}</td>
            <td>
                <button type="button" class="btn btn-link" (click)="repeatTransaction(transaction.username, transaction.amount)">Repeat</button>
            </td>
        </tr>
    </tbody>  
</table>
<button type="button" class="btn btn-primary m-1" (click)="logout()">Logout</button>