<div class="container-md">
    <h2>Sign in</h2>
    <form [formGroup]="signInForm" novalidate (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" name="email" formControlName="email" id="email"/>   
            <div class="alert alert-danger"
                *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].touched">
                Incorrect email
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" name="password" formControlName="password" id="password"/>   
            <div class="alert alert-danger"
                *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].touched">
                Password not specified
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" [disabled]="signInForm.invalid || (isSubmitting$ | async)">
                Submit
            </button>
        </div>
    </form>   
</div>
